.message{
    font-size: 0.9em !important;
    padding: 0.5em !important;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.badge{
    font-size: 0.5em !important;
    padding: 0.1em !important;
    border-radius: 0.3em !important;
}
.message-warning, .badge-warning{
    background-color: rgba(231,218,94, 0.801);
    color: black;
    font-size: 0.9em !important;
    padding: 0.5em !important;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.message-danger, .badge-danger{
    background-color: rgba(217,83,79, 0.801);
    color: white;
    font-size: 0.9em !important;
    padding: 0.5em !important;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.message-success, .badge-success{
    background-color: rgba(92,184,92, 0.801);
    color: white;
    font-size: 0.9em !important;
    padding: 0.5em !important;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.message-info, .badge-info{
    background-color: rgba(51,122,183, 0.801);
    color: white;
    font-size: 0.9em !important;
    padding: 0.5em !important;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.hljs{display:block;overflow-x:auto;padding:0.5em;background:white;color:black}.hljs-name,.hljs-strong{font-weight:bold}.hljs-code,.hljs-emphasis{font-style:italic}.hljs-tag{color:#be633f}.hljs-variable,.hljs-template-variable,.hljs-selector-id,.hljs-selector-class{color:#008080;font-weight:bold}.hljs-string,.hljs-bullet{color:#dc009c}.hljs-type,.hljs-section,.hljs-attribute,.hljs-quote,.hljs-built_in,.hljs-builtin-name{color:#c77f00}.hljs-title{color:#ff0038}.hljs-number,.hljs-symbol,.hljs-bullet{color:#6400c8}.hljs-keyword,.hljs-selector-tag,.hljs-literal{color:#0038fc;font-weight:bold}.hljs-comment,.hljs-deletion,.hljs-code{color:#888}.hljs-regexp,.hljs-link{color:#c6b4f0}.hljs-meta{color:#fc9b9b}.hljs-deletion{background-color:#fc9b9b;color:#333}.hljs-addition{background-color:#a2fca2;color:#333}.hljs a{color:inherit}.hljs a:focus,.hljs a:hover{color:inherit;text-decoration:underline}
